<% layout("/layouts/boilerplate") -%>

<div class="row">
  <h1 class="col-8 offset-2">SignUp for Wanderlust</h1>
  <div class="col-8 offset-2">
    <form action="/signup" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username : </label>
        <input type="text" id="username" placeholder="eg.endxsatyam" name="username" class="form-control" required />
        <div class="valid-feedback">
          OK
        </div>
        <div class="invalid-feedback">
          Fill the field
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email : </label>
        <input type="email" id="email" placeholder="eg.name@gmail.com" name="email" class="form-control" required />
        <div class="valid-feedback">
          OK
        </div>
        <div class="invalid-feedback">
          Wrong email !
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password : </label>
        <input type="password" id="password" placeholder="eg. dJw56" name="password" class="form-control" required />
        <div class="valid-feedback">
          OK
        </div>
        <div class="invalid-feedback">
          Fill the field
        </div>
      </div>

      <button class="btn btn-success">Sign Up</button>
      <br><br>

    </form>
  </div>
</div>